/* Colors:
#BFBFBF
#737373
#595959
#404040
#262626
*/

* {
    font-family: sans-serif;
    background-color: #262626;
    color: #737373;
}

nav {
    background-color: #262626;
}

/* Centering the navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center flex items horizontally */
}

nav ul li {
    display: block;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #404040;
}

#searchBox, #lexicon {
    text-align: center;
    margin: auto;
}

#searchBox {
    display: block;
    text-align: auto;
    margin-top: 15 px;
    margin-bottom: 15 px;
    width: 50%; /* Adjust if necessary for smaller screens */
    padding: 10px 10px;
    font-size: 16px;
}

.universum {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Add space below */
    font-size: 20px;
    text-decoration: none;
    border-color: #BFBFBF;
    color: #BFBFBF;
}
/*
.universum:hover {
    text-decoration: underline;
}
*/

.category-section {
    border-radius: 10px;
    border-width: 2px;
    border-color: #737373;
}

.category-section, .universum {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-top: 20px;
}

.category-section h2 {
    margin: 0 auto; /* Ensures headers are centered */
    color: #BFBFBF;
}

/* Styles for individual term entries */
.category-section p {
    margin: 5px 0; /* Adjust spacing around terms */
    color: #BFBFBF;
}

/* Additional styles for responsiveness and aesthetics */
@media (max-width: 768px) {
    #searchBox {
        width: 80%;
    }
}
