/* Colors:
#BFBFBF
#737373
#595959
#404040
#262626
*/

* {
    font-family: sans-serif;
    background-color: #262626;
    color: #737373;
}

h2 {
    margin-bottom: 5px;
    background-color: transparent;
    color: #BFBFBF;
}

h4 {
    margin-bottom: 25px;
    background-color: transparent;
    color: #BFBFBF;
}

nav {
    background-color: #262626;
}

/* Centering the navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center flex items horizontally */
}

nav ul li {
    display: block;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #404040;
}

footer {
    text-align: center;
    margin-top: 100px;
}

#searchBox, #lexicon {
    text-align: center;
    margin: auto;
}

#searchBox {
    display: block;
    text-align: auto;
    margin-top: 15 px;
    margin-bottom: 15 px;
    width: 50%; /* Adjust if necessary for smaller screens */
    padding: 10px 10px;
    font-size: 16px;
}

.universum {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Add space below */
    font-size: 32px;
    text-decoration: none;
    border-color: #BFBFBF;
    color: #BFBFBF;
}
/*
.universum:hover {
    text-decoration: underline;
}
*/

.category-section {
    text-align: left;
    width: 50%;
    margin: 20px 0; /* Adds vertical space between sections */
    margin: auto;
    padding: 20px; /* Adds padding inside the sections */
    border: 2px solid #737373; /* Example border style */
    border-radius: 15px; /* Rounded corners */
    background-color: #262626; /* Light background color for contrast, optional */
}

.category-section, .universum {
    text-align: center;
    margin-top: 20px;
    margin-top: 20px;
}

.category-section h2 {
    margin: 0 auto; /* Ensures headers are centered */
    color: #BFBFBF;
    background-color: rgba(204, 204, 204, 0);
}

/* Styles for individual term entries */
.category-section p {
    margin: 5px 0; /* Adjust spacing around terms */
    padding-left: 10px;
    color: #BFBFBF;
    border-radius: 5px;
}

.category-section strong {
    color: #BFBFBF;
}

/* Styles for name generator */
.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 70%;
    padding: 20px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
    background-color: #404040;
}
.dropdown-container {
    display: flex;
    gap: 10px;
    background-color: transparent;
}
input, select, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
}
button {
    cursor: pointer;
    background-color: #737373;
    color: white;
    border-color: #737373;
}
button:hover {
    background-color: #595959;
    border-color: #595959;
}
#nameOutput {
    max-width: 300px;
}

/* Additional styles for responsiveness and aesthetics */
@media (max-width: 768px) {
    #searchBox {
        width: 80%;
    }
    .dropdown-container {
        flex-direction: column;
        width: 100%;
    }
    input, select, button {
        width: 100%;
        box-sizing: border-box; /* Ensures padding does not add to the width */
    }
}
