/* Variables */
:root {
    --color-primary: #F2EDE4;
    --color-secondary: #95BFB8;
    --color-tertiary: #80A69F;
    --color-quaternary: #5F736F;
    --color-background: #262223;
    --background-darkened: #110f10;
}

/* Global Styles */
* {
    font-family: sans-serif;
    background-color: var(--color-background);
    color: var(--color-secondary);
}
/* Typography */
h2, h3, h4 {
    background-color: transparent;
    color: var(--color-primary);
}

h2 {
    margin-bottom: 15px;
    text-align: center;
}

h3 {
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 5px;
    margin-top: 5px;
}

p {
    background-color: transparent;
}


/* Navigation */
nav {
    background-color: var(--color-background);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-background);
    display: flex;
    justify-content: center; /* Flexbox for centering and managing navigation items */
}

nav ul li {
    display: block;
    color: var(--color-secondary);
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
    border-radius: 10px;
    background-color: var(--color-quaternary); /* Lighter or different color on hover/focus */
    color: var(--color-primary);
}

/* Footer */
footer {
    background-color: var(--color-background);
    color: var(--color-secondary);
    padding: 20px;
    text-align: center; /* Center align text if that fits your design */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center content vertically if there are multiple rows */
}

footer p {
    color: var(--color-secondary);
    text-decoration: none;
}

footer p:hover {
    text-decoration: underline;
}

/* Shared Styles for Search Box and Lexicon */
#searchBox, #lexicon {
    text-align: center;
    margin: auto;
}

/* Specific Styles for Search Box */
#searchBox {
    display: block;
    margin: 15px auto; /* Corrected margin-top and margin-bottom */
    width: 50%; /* Consider responsiveness */
    padding: 15px;
    font-size: 16px;
}

/* Styles for Elements with Class 'universum' */
.universum {
    width: 100%;
    display: block;
    text-align: center;
    margin: 20px auto; /* Consolidated margin properties */
    font-size: 32px;
    text-decoration: none;
    border-color: var(--color-primary);
}

/* Category Section Styles and Animation */
/* Initial state of sections and containers */
.category-section, .container {
    position: relative; /* Required for z-index to work */
    z-index: 1; /* Ensures shadow is above the background but below other positioned content */
    transition: box-shadow 0.5s ease, z-index 0s 0.5s; /* Add transition for z-index to delay its change */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Initial subtle shadow */
}

/* Expanded shadow state (you might adjust values as needed) */
.expanded-shadow {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.75);
    z-index: 2; /* Ensure it's above other elements */
    transition-delay: 0s; /* Apply transitions immediately when adding the class */
}

/* Hovering on sections darkens the background */
body.darkened-background {
    background-color: var(--background-darkened);
}

.category-section {
    width: 50%;
    min-width: 350px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 20px;
    border: 2px solid var(--color-secondary);
    border-radius: 15px;
    background-color: var(--color-background);
    text-align: center; /* Consolidated text alignment for category-section */
}

.category-section h2 {
    margin-bottom: 20px; /* Assuming you want space below h2 */
}

.category-section h3 {
    text-align: left;
}

.category-section p {
    text-align: left;
    margin: 5px 0 20px; /* Consistent vertical spacing */
    padding-left: 10px; /* Indent text for readability */
    color: var(--color-primary); /* Light grey text */
    border-radius: 5px; /* Rounded corners for paragraphs if needed */
}

.category-section li {
    text-align: left;
}

.category-section strong {
    color: var(--color-primary); /* Ensure strong text matches paragraph color */
}

/* Container Styles for Name Generator and Similar Components */
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically in the container */
    gap: 10px; /* Space between child elements */
    width: 70%; /* Responsive width */
    margin: auto; /* Center container */
    margin-bottom: 50px;
    padding: 20px; /* Padding inside the container */
    border: 1px solid var(--color-primary); /* Light grey border */
    border-radius: 10px; /* Slightly rounded corners */
    background-color: var(--color-quaternary); /* Dark background for contrast */
}

.phonetics-trainer {
    width: 90%;
}

.phonetics-trainer,
.phonetics-trainer h2, 
.phonetics-trainer h3, 
.phonetics-trainer p, 
.phonetics-trainer div, 
.phonetics-trainer audio {
    background-color: var(--color-quaternary);
}

.vocabulary-builder {
    width: 90%;
}

.vocabulary-builder,
.vocabulary-builder h3,
.vocabulary-builder p,
.vocabulary-builder div,
.vocabulary-builder label {
    background-color: var(--color-quaternary);
}

.vocabulary-builder button {
    margin-top: 10px;
    display: inline-block;
    width: 25%;
}

.vocabulary-builder select {
    background-color: var(--color-background);
    margin-top: 10px;
}

.hidden {
    display: none;
}

#flashcard {
    background-color: var(--color-tertiary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px; /* Card-shaped appearance */
    padding: 20px; /* Space inside the card */
    margin: 10px 0; /* Space outside the card */
    width: 300px; /* Fixed width */
    height: 150px; /* Fixed height */
    text-align: center; /* Centers the text within the card */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers content when there is space */
    overflow: hidden; /* Prevents content from overflowing */
}

#flashcard div {
    background-color: transparent;
    padding-top: 10px;
    color: var(--color-primary)
}

.grammar-exercises {
    width: 90%;
}

.grammar-exercises,
.grammar-exercises h3,
.grammar-exercises p,
.grammar-exercises div {
    background-color: var(--color-quaternary);
}

.grammar-exercises button {
    width: 50%;
}

.conversational-simulator {
    width: 90%;
}

.conversational-simulator,
.conversational-simulator h3,
.conversational-simulator p,
.conversational-simulator div {
    background-color: var(--color-quaternary);
}

.conversational-simulator textarea {
    border-radius: 5px;
    font-size: large;
    width: 75%;
    height: 45px;
    resize: vertical;
}

.conversational-simulator button {
    width: 20%;
}

.input-container {
    display: flex;
    align-items: center; /* Centers the button vertically relative to the textarea */
    justify-content: space-between; /* Optional, for spacing */
}

/* Dropdown Container Styles */
.dropdown-container {
    display: flex;
    gap: 10px; /* Space between child elements */
    background-color: transparent;
}

/* Uniform Styles for Inputs, Selects, and Buttons */
input, select, button {
    padding: 10px;
    font-size: 16px; /* Consistent font size */
    border: 1px solid var(--color-primary); /* Light grey border */
    border-radius: 5px; /* Slightly rounded corners for a modern look */
}

/* Button Specific Styles */
button {
    cursor: pointer; /* Indicates clickable */
    background-color: var(--color-tertiary); /* Medium grey background */
    color: var(--color-primary); /* Text color */
    border-color: var(--color-secondary); /* Match border color to background */
}

button:hover {
    background-color: var(--color-quaternary); /* Darker shade for hover state */
    border-color: var(--color-tertiary);
}

/* Output Container for Displaying Selected Names */
#nameOutput {
    max-width: 300px; /* Limit width for better layout control */
}

#termsOutput {
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
    border-radius: 12px;
    padding: 5px 15px;
}

#termsOutput p, strong {
    background-color: var(--color-background);
    color: var(--color-primary);
}

/* Style for both the "Next Exercise" and "Submit" buttons */
#nextExercise, #exerciseContainer > button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block; /* To place buttons next to each other */
}

.jump-to-section {
    display: flex;
    justify-content: center; /* This centers the flex items (children) horizontally in the container */
    align-items: center; /* This centers the flex items vertically, useful if they have different heights */
    gap: 10px; /* Optional: adds some space between the flex items */
}

.jump-to-section select {
    color: var(--color-quaternary);
    width: 200px;
}

/* Calculator styling */
.calculator {
    width: 220px;
    margin: auto;
    margin-bottom: 25px;
    padding: 20px;
    border: 2px solid var(--color-secondary); /* Light grey border */
    border-radius: 5px;
}
  
  .display {
    width: calc(100% - 22px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-quaternary);
    font-size: 18px;
    text-align: right;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .key {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .key-wide {
    grid-column: span 2;
  }

/* Targets all radio buttons */
input[type='radio'] {
    margin: 10px;
    border-color: transparent;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Removes default styling provided by browsers */
    cursor: pointer; /* Changes cursor to pointer when hovering over the label */
}

/* Style for the checked state */
input[type='radio']:checked {
    background-color: transparent; /* Ensures the background remains transparent even when checked */
}

/* Optional: Add custom styles for radio buttons to improve visibility */
input[type='radio']::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid var(--color-tertiary); /* Example border color, adjust as needed */
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: -3px;
}

input[type='radio']:checked::before {
    background-color: var(--color-secondary); /* Example fill color for checked state, adjust as needed */
}

label {
    display: block; /* Makes each label + radio button appear on a new line */
    margin: 8px 0; /* Adds some vertical space between each radio button */
    color: var(--color-primary);
    border-radius: 10px;
}

#options {
    margin-top: 10px;
}

#question {
    color: var(--color-primary);
}

.submit-feedback-container {
    display: flex; /* Uses Flexbox to lay out the button and feedback side by side */
    margin-top: 15px;
    align-items: center; /* Centers the button and feedback vertically */
    gap: 10px; /* Adds some space between the button and feedback text */
}

.feedback {
    padding-left: 10px; /* Adds padding to the left of the feedback text for additional spacing */
    min-height: 20px; /* Ensures the container has a minimum height for better alignment */
    color: var(--color-primary);
}

/* Additional styles for responsiveness and aesthetics */
@media (max-width: 768px) {
    #searchBox {
        width: 80%;
    }
    .dropdown-container {
        flex-direction: column;
        width: 100%;
    }
    input, select, button {
        width: 100%;
        box-sizing: border-box; /* Ensures padding does not add to the width */
    }
}
